In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

data = pd.read_csv("https://vincentarelbundock.github.io/Rdatasets/csv/Ecdat/Wages1.csv")

# get last 5 obs in data
data.tail(5)

      Unnamed: 0  exper   sex  school      wage
3289        3290      6  male       9  4.287114
3290        3291      5  male       9  7.145190
3291        3292      6  male       9  4.538784
3292        3293     10  male       8  2.909113
3293        3294      7  male       7  4.153974

In [6]:
# create wages dataset
data_wages = data['wage']

# transform wages to log wages
log_wages = data_wages.copy()
log_wages = np.log(log_wages)

# save log wages to an excel file
log_wages.to_excel("log_wages.xlsx")

In [12]:
# compute average wage by sex
average_wage = data.groupby('sex').aggregate(np.mean)['wage'] # this gives us a Series object
print(average_wage) 

# alternative way
avg_male = np.mean(data[data['sex'] == 'male'])['wage'] # this gives us just the male elements
avg_female = np.mean(data[data['sex'] == 'female'])['wage'] # this gives us just the female elements
print(avg_male, avg_female)

sex
female    5.146924
male      6.313021
Name: wage, dtype: float64
6.31302115937432 5.146923867880244

In [13]:
# compute average of all variables by sex
average_data = data.groupby('sex').aggregate(np.mean)
average_data

        Unnamed: 0     exper     school      wage
sex
female       785.0  7.732314  11.837476  5.146924
male        2432.0  8.326377  11.442319  6.313021

In [25]:
sex_counts = data['sex'].value_counts()
print(sex_counts.loc["female"])

1569